<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Card35</key>
	<dict>
		<key>idNumber</key>
		<integer>35</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>4</integer>
		<key>left</key>
		<integer>4</integer>
		<key>right</key>
		<integer>4</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Gold</string>
	</dict>
	<key>Card34</key>
	<dict>
		<key>idNumber</key>
		<integer>34</integer>
		<key>up</key>
		<integer>4</integer>
		<key>down</key>
		<integer>4</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>4</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Gold</string>
	</dict>
	<key>Card33</key>
	<dict>
		<key>idNumber</key>
		<integer>33</integer>
		<key>up</key>
		<integer>4</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>4</integer>
		<key>right</key>
		<integer>4</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Gold</string>
	</dict>
	<key>Card32</key>
	<dict>
		<key>idNumber</key>
		<integer>32</integer>
		<key>up</key>
		<integer>4</integer>
		<key>down</key>
		<integer>4</integer>
		<key>left</key>
		<integer>4</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Gold</string>
	</dict>
	<key>Card31</key>
	<dict>
		<key>idNumber</key>
		<integer>31</integer>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>3</integer>
		<key>left</key>
		<integer>5</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Gold</string>
	</dict>
	<key>Card30</key>
	<dict>
		<key>idNumber</key>
		<integer>30</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>5</integer>
		<key>left</key>
		<integer>2</integer>
		<key>right</key>
		<integer>3</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Gold</string>
	</dict>
	<key>Card29</key>
	<dict>
		<key>idNumber</key>
		<integer>29</integer>
		<key>up</key>
		<integer>3</integer>
		<key>down</key>
		<integer>2</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>5</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Gold</string>
	</dict>
	<key>Card28</key>
	<dict>
		<key>idNumber</key>
		<integer>28</integer>
		<key>up</key>
		<integer>5</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>3</integer>
		<key>right</key>
		<integer>2</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Gold</string>
	</dict>
	<key>Card27</key>
	<dict>
		<key>idNumber</key>
		<integer>27</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>2</integer>
		<key>left</key>
		<integer>6</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Gold</string>
	</dict>
	<key>Card26</key>
	<dict>
		<key>idNumber</key>
		<integer>26</integer>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>6</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>2</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Gold</string>
	</dict>
	<key>Card25</key>
	<dict>
		<key>idNumber</key>
		<integer>25</integer>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>6</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Gold</string>
	</dict>
	<key>Card24</key>
	<dict>
		<key>idNumber</key>
		<integer>24</integer>
		<key>up</key>
		<integer>6</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>2</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Gold</string>
	</dict>
	<key>Card23</key>
	<dict>
		<key>idNumber</key>
		<integer>23</integer>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>4</integer>
		<key>right</key>
		<integer>2</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Silver</string>
	</dict>
	<key>Card22</key>
	<dict>
		<key>idNumber</key>
		<integer>22</integer>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>4</integer>
		<key>left</key>
		<integer>2</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Silver</string>
	</dict>
	<key>Card21</key>
	<dict>
		<key>idNumber</key>
		<integer>21</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>2</integer>
		<key>left</key>
		<integer>2</integer>
		<key>right</key>
		<integer>4</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Silver</string>
	</dict>
	<key>Card20</key>
	<dict>
		<key>idNumber</key>
		<integer>20</integer>
		<key>up</key>
		<integer>4</integer>
		<key>down</key>
		<integer>2</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>2</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Silver</string>
	</dict>
	<key>Card19</key>
	<dict>
		<key>idNumber</key>
		<integer>19</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>3</integer>
		<key>left</key>
		<integer>4</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Silver</string>
	</dict>
	<key>Card18</key>
	<dict>
		<key>idNumber</key>
		<integer>18</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>4</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>3</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Silver</string>
	</dict>
	<key>Card17</key>
	<dict>
		<key>idNumber</key>
		<integer>17</integer>
		<key>up</key>
		<integer>3</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>4</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Silver</string>
	</dict>
	<key>Card16</key>
	<dict>
		<key>idNumber</key>
		<integer>16</integer>
		<key>up</key>
		<integer>4</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>3</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Silver</string>
	</dict>
	<key>Card15</key>
	<dict>
		<key>idNumber</key>
		<integer>15</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>2</integer>
		<key>left</key>
		<integer>3</integer>
		<key>right</key>
		<integer>3</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Silver</string>
	</dict>
	<key>Card14</key>
	<dict>
		<key>idNumber</key>
		<integer>14</integer>
		<key>up</key>
		<integer>3</integer>
		<key>down</key>
		<integer>3</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>2</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Silver</string>
	</dict>
	<key>Card13</key>
	<dict>
		<key>idNumber</key>
		<integer>13</integer>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>3</integer>
		<key>right</key>
		<integer>3</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Silver</string>
	</dict>
	<key>Card12</key>
	<dict>
		<key>idNumber</key>
		<integer>12</integer>
		<key>up</key>
		<integer>3</integer>
		<key>down</key>
		<integer>3</integer>
		<key>left</key>
		<integer>2</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Silver</string>
	</dict>
	<key>Card11</key>
	<dict>
		<key>idNumber</key>
		<integer>11</integer>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>3</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Common</string>
	</dict>
	<key>Card10</key>
	<dict>
		<key>idNumber</key>
		<integer>10</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>3</integer>
		<key>right</key>
		<integer>2</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Common</string>
	</dict>
	<key>Card9</key>
	<dict>
		<key>idNumber</key>
		<integer>9</integer>
		<key>up</key>
		<integer>3</integer>
		<key>down</key>
		<integer>2</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Common</string>
	</dict>
	<key>Card8</key>
	<dict>
		<key>idNumber</key>
		<integer>8</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>2</integer>
		<key>right</key>
		<integer>3</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Common</string>
	</dict>
	<key>Card7</key>
	<dict>
		<key>idNumber</key>
		<integer>7</integer>
		<key>up</key>
		<integer>2</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>3</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Common</string>
	</dict>
	<key>Card6</key>
	<dict>
		<key>idNumber</key>
		<integer>6</integer>
		<key>up</key>
		<integer>3</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>2</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Common</string>
	</dict>
	<key>Card5</key>
	<dict>
		<key>idNumber</key>
		<integer>5</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>2</integer>
		<key>left</key>
		<integer>3</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Common</string>
	</dict>
	<key>Card4</key>
	<dict>
		<key>idNumber</key>
		<integer>4</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>3</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>2</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Common</string>
	</dict>
	<key>Card3</key>
	<dict>
		<key>idNumber</key>
		<integer>3</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>4</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Common</string>
	</dict>
	<key>Card2</key>
	<dict>
		<key>idNumber</key>
		<integer>2</integer>
		<key>up</key>
		<integer>4</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Common</string>
	</dict>
	<key>Card1</key>
	<dict>
		<key>idNumber</key>
		<integer>1</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>4</integer>
		<key>right</key>
		<integer>1</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Common</string>
	</dict>
	<key>Card0</key>
	<dict>
		<key>idNumber</key>
		<integer>0</integer>
		<key>up</key>
		<integer>1</integer>
		<key>down</key>
		<integer>1</integer>
		<key>left</key>
		<integer>1</integer>
		<key>right</key>
		<integer>4</integer>
		<key>manaType</key>
		<string>None</string>
		<key>rarity</key>
		<string>Common</string>
	</dict>
</dict>
</plist>
